@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* --primary: #fff;
	--primary-md: #fff;
	--primary-dark: #fff;
	--secondary: #03b5fb;
	--secondary-light: black;
	--border-primary: #e5e7eb; */
	--primary: #25272d;
	--primary-md: #191a1e;
	--primary-dark: #111315;
	--secondary: #03b5fb;
	--secondary-light: white;
	--border-primary: #00000001;
}

input {
	background-color: transparent;
	outline: none;
}

input[type="datetime-local"] {
	color-scheme: dark;
}

input::selection {
	color: #03b5fb;
	background-color: white;
}

@property --from {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: true;
}

@property --color {
	syntax: "<color>";
	initial-value: red;
	inherits: false;
}

.conic-animate {
	--from-color: #feaa29;
	--to-color: #19ecf0;
	--from: 0deg;
	background: conic-gradient(from var(--from), var(--color), transparent);
	animation: rotate 2s linear infinite;
	transition: all 1s;
}

@keyframes rotate {
	0% {
		--from: 0deg;
		--color: var(--from-color);
	}
	25% {
		--from: 90deg;
		--color: var(--to-color);
	}
	50% {
		--from: 180deg;
		--color: var(--to-color);
	}
	75% {
		--from: 270deg;
		--color: var(--from-color);
	}
	100% {
		--from: 360deg;
		--color: var(--from-color);
	}
}

.inputWrapper input:focus + div,
.inputWrapper input:not(:placeholder-shown) + div {
	@apply text-[10px] top-[10%] md:top-[8%] translate-y-0;
	color: var(--secondary-light)
}

.inputWrapper input + div {
	@apply text-base top-[50%] translate-y-[-50%];
}

.scale-down {
	scale: 80%;
}

.scale-down-2 {
	scale: 96%;
}

button {
	user-select: none;
}

@keyframes spin {
	0% {
		rotate: 0deg;
	}
	20% {
		rotate: 60deg;
	}
	40% {
		rotate: 180deg;
	}
	60% {
		rotate: 240deg;
	}
	80% {
		rotate: 300deg;
	}
	100% {
		rotate: 360deg;
	}
}

.loader {
	border-radius: 50%;
	border-top: 3px solid white;
	width: 20px;
	height: 20px;
	animation: spin 1s linear infinite forwards;
}
